* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} /*applies rules to all elements*/

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background-image: url(images/112233.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  border-radius: 30px;
}

h2 {
  font-size: 60px;
  color: black;
  border-radius: 20px;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  padding: 15px 10px;
  color: rgb(11, 10, 11);
  background: #fff;
  border: none;
  font-size: 1.5em;
  border-radius: 15px;
  position: relative;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 60px;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/9391721.jpg);
  background-size: cover;
  background-position: center;
}

.memory-container {
  width: 450px;
  height: 400px;
  background: rgb(255, 238, 0);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 10px rgb(124, 84, 105);
  pointer-events: pointer;
}

.cards,
.card,
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  height: calc(100% / 5 - 10px);
  width: calc(100% / 4 - 10px);
  position: relative;
  perspective: 800px; /*low card turnover*/
  transform-style: preserve-3d;
}

.card .front-emoji span {
  font-size: 45px;
  color: blueviolet;
}

.card .back-emoji {
  transform: rotateY(-180deg); /*reveal the locations of the cards*/
}

.card .back-emoji img {
  max-width: 45px; /* size of emojis */
}

.card.flip .front-emoji {
  transform: rotateY(180deg); /*it will not be completed */
}

.card.flip .back-emoji {
  transform: rotateY(0);
}

.cards .card .show {
  height: 100%;
  width: 100%;
  background: rgb(222, 216, 211);
  border-radius: 7px;
  box-shadow: 0 3px 10px rgb(124, 84, 105); /*shadow for cards*/
  pointer-events: pointer;
  position: absolute;
  transition: transform 0.25s linear; /*makes the card move to flip*/
  backface-visibility: hidden;
  background-image: url(images/112233.jpg);
  background-size: cover;
  background-position: center;
}

.game-header {
  text-align: center;
  margin-bottom: 20px;
}

.score-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 10px;
  font-size: 20px;
  border: none;
}

#resetBtn {
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
