* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background: rgb(211, 126, 76);
  background-image: url(images/112233.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  border-radius: 30px;
}

h2 {
  font-size: 60px;
  color: black;
  border-radius: 20px;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  padding: 15px 10px;
  color: rgb(11, 10, 11);
  background: #fff;
  border: none;
  font-size: 1.5em;
  border-radius: 15px;
  position: relative;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 60px;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(170, 71, 71);
  height: 100vh;
  background-image: url(images/9391721.jpg);
  background-size: cover;
  background-position: center;
}

.memory-container {
  width: 500px;
  height: 500px;
  background: rgb(255, 238, 0);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 10px rgb(124, 84, 105);
  pointer-events: pointer;
}

.cards,
.card,
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  height: calc(100% / 5 - 10px);
  width: calc(100% / 7 - 10px);
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}

.card .front-emoji span {
  font-size: 45px;
  color: blueviolet;
}

.card .back-emoji {
  transform: rotateY(-180deg);
}

.card .back-emoji img {
  max-width: 45px;
}

.card.flip .front-emoji {
  transform: rotateY(180deg);
}

.card.flip .back-emoji {
  transform: rotateY(0);
}
